<app-ministry-dashboard-nav-bar></app-ministry-dashboard-nav-bar>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <div class="row">
        <h3 class="col-md-6">Institute Details</h3>
        <button class="btn btn-primary col mx-2">Fetch details</button>
      </div>
    </div>
    <div class="card-body text-center">
      <table class="table table-borderless" style="border: 24px">
        <thead>
          <tr>
            <th scope="col">Application Number</th>
            <th scope="col">Student Name</th>
            <th scope="col">Approve</th>
            <th scope="col">Reject</th>
            <th scope="col">View Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col"><a href="">12131313131</a></th>
            <th scope="col">VIT</th>
            <th>
              <button class="btn btn-success col">
                Approve
              </button>
            </th>
            <th>
              <button class="btn btn-danger col">
                Reject
              </button>
            </th>
            <th>
              <button class="btn btn-info col" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                View
              </button>
            </th>
          </tr>
        </tbody>
      </table>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="row">
            <div class="col-md-6">
              <h4 class="my-3"><strong>Basic Details</strong></h4>
              <hr>
              <h5>Institute Name</h5>
              <h5>Institute Category</h5>
              <h5>Institute Code</h5>
              <h5>DISE Code</h5>
              <h5>Institute Location</h5>
              <h5>Institute Type</h5>
              <h5>Affiliated University State</h5>
              <h5>Affiliated University/Board Name</h5>
              <h5>Year from which Admission Started</h5>
              <h4 class="my-3"><strong>Proof of Existence of Institute</strong></h4>
              <hr>
              <h5>Institute Establishment/Existence Certificate</h5>
              <h4 class="my-3"><strong>Affiliated to</strong></h4>
              <hr>
              <h5>University/Board Affiliation Certificate</h5>
              <hr>
              <h4 class="my-3"><strong>Address</strong></h4>
              <h5>Address Line 1</h5>
              <h5>Address Line 2</h5>
              <h5>State</h5>
              <h5>District</h5>
              <h5>City</h5>
              <h5>Pincode</h5>
              <hr>
              <h4 class="my-3"><strong>Contact Details</strong></h4>
              <h5>Institute Head Contact</h5>
              <h5>Email ID</h5>
            </div>
            <div class="col-md-6">
              Details idhar hongi
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
